// stackoverflow 网页显示优化
// 更新频道: https://t.me/elecV2
// QuanX 重写订阅地址：https://raw.githubusercontent.com/elecV2/QuantumultX-Tools/master/betterweb/stackoverflow.snippet

hostname = stackoverflow.com, *.stackexchange.com, superuser.com, serverfault.com

// 本地测试
// ^https://stackoverflow|superuser\.com/question url script-response-body stackoverflow.js

// 注入 CSS 进行优化
^https://stackoverflow|superuser|serverfault\.com/question url script-response-body https://raw.githubusercontent.com/elecV2/QuantumultX-Tools/master/betterweb/stackoverflow.js

^https://.+\.stackexchange\.com/question url script-response-body https://raw.githubusercontent.com/elecV2/QuantumultX-Tools/master/betterweb/stackoverflow.js